body {
    background:#00bfff;
    font-family: verdana;
    max-width: 1000px;
}

#title, .subtitle, .post_title {
    color: white;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#title {
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 10px;
}

.image {
    border-radius: 50%;
    width:20%;
    height: 20%;


}

.subtitle {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 120px;
}

a {
    text-decoration:underline;
    color: #4040ff;
}
.post_title {
    font-size: 25px;
    font-style: italic;
    margin: 0;
    margin-bottom: 30px;
    color: #050583;
    margin-top: 30px;


}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87cefa;
    padding: 15px;
    border: 2px solid #1e90ff;
    margin-bottom: 15px;
    margin-left: 200px;
    border-radius: 5px;
    color: #050583;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87cefa;
    padding: 15px;
    border: 2px solid #1e90ff;
    margin-bottom: 15px;
    margin-left: 200px;
    border-radius: 5px;
    color: #050583;

}

.hob{
    font-size: 20px;
    font-style: italic;

}
.contact-list {
    list-style: none;
    padding-left: 15px;
    font-size: 20px;
    padding-top: 30px;

}
.contact-list a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;


}